<!DOCTYPE html>
<html>
		<% include ./partials/head %>
	<body>
		<% include ./partials/nav %>
		<div id="main-body">
			<div id="search-bar">
				<input type="text" name="search" placeholder="Search..."/>
			</div>
			<div id="top-left-box">
				
			</div>
				<% game_list.forEach(function(game) { %>
					<div class="card">
						<img src="<%= game.image_url %>	"></img>
						<h3><%= game.names %></h3>
						<p><%= game.mechanic %></p>
						<button class="read-more">Read more</button>
					</div>
				<% }); %>
		</div>
	</body>
</html>
