<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ISTE 438 MongoDB Project</title>
		<!--<link rel="stylesheet" href="express/views/assets/css/styles.css">-->
		<link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
		<!--<link rel="icon" href="assets/images/leaf1.png" type="image/png">-->
		<style>
			
		</style>
	</head>
	<body>
		<div id="header">
			<% include ./partials/nav %>
		</div>
		<div id="main-body">
			<div id="search-bar">
				<input type="text" name="search" placeholder="Search..."/>
			</div>
			<div id="top-left-box">
				
			</div>

			<div id="bottom-body">
				<!-- REMOVE AFTER TESTING -->
				<% game_list.forEach(function(game) { %>
					<div class="card">
						<!--<img src="assets/images/sample.jpg"></img>-->
						<h3><%= game.names %></h3>
						<p><%= game.mechanic %></p>
						<button class="read-more">Read more</button>
					</div>
				<% }); %>
			</div>
		</div>
	</body>
</html>
