<!DOCTYPE html>
<html>
		<% include ./partials/head %>
	<body>
		<% include ./partials/nav %>
		<div id="main-body">
				<% include ./partials/searchbar %>
			<div id="top-left-box" style="text-align:center;">
				<h1 style="background:none;float:none;color:black;">Board Game Database</h1>
				<h2>Featured Games</h2>
			</div>
				<% game_list.forEach(function(game) { %>
					<div class="card">
						<img src="<%= game.image_url %>	"></img>
						<h3><%= game.names %></h3>
						<p><%= game.mechanic %></p>
						<a href="/game/<%= game.game_id %>"><button class="read-more">Read more</button></a>
					</div>
				<% }); %>
		</div>
	</body>
</html>
