<!DOCTYPE html>
<html>
        <% include ./partials/head %>
        <body>
          <% include ./partials/nav %>
		<div id="main-body">
                <% include ./partials/searchbar %>
			<div id="about">
				<h1 style="color:#0c7a18;">Resources</h1>
				<p style="clear: both;">Data collected from Kaggle:</p>
				<table>
					<tr>
						<th>MongoDB Assignment</th>
						<th>Point Value</th>
						<th>Points Earned</th>
					</tr>
					<tr>
						<td>
							<h4>Database<h4>
							<p>Data selection registration in discussion group is on time</p>
							<p>Database is created an loaded on time</p>
							<p>Database is built and performs acceptably</p>
							<p>Database has sufficient number of fields and text</p>
							<p>Image storage is acceptable and can be related to the documents</p>
						</td>
						<td>
							<h4></h4>
							<p>5</p>
							<p>5</p>
							<p>5</p>
							<p>5</p>
							<p>5</p>
						</td>
						<td></td>
					</tr>
					<tr>
						<td>
							<h4>Program Functionality</h4>
							<p>GUI Screen solicits required information from the user</p>
							<p>Partial word search works acceptably</p>
							<p>Document list is returned to the user for selection</p>
							<p>User can select the document to view and selected document is returned to the user</p>
							<p>Images from GridFS are returned to the documents</p>
							<p>User comments can be added to the documents</p>
							<p>User comments are retrieved with the documents</p>
							<p>User is presented with the GUI to make another search</p>
							<p>User can quit the application and the app gets closed</p>
							<p>GUI appearance is acceptable and easy and intuitive to use</p>
						</td>
						<td>
							<h4></h4>
							<p>5</p>
							<p>5</p>
							<p>5</p>
							<p>5</p>
							<p>5</p>
							<p>5</p>
							<p>5</p>
							<p>5</p>
							<p>5</p>
							<p>5</p>
						</td>
						<td></td>
					</tr>
					<tr>
						<td>
							<h4>Presentation</h4>
							<p>Slides present technology used and justification</p>
							<p>Slides show how database was loaded</p>
							<p>All key functions (above) are demonstrated</p>
							<p>Presentation is of good quality</p>
						</td>
						<td>
							<h4></h4>
							<p>5</p>
							<p>5</p>
							<p>5</p>
							<p>5</p>
						</td>
						<td></td>
					</tr>
					<tr>
						<td>
							<h5>Total Points</h5>
						</td>
						<td>
							<p>100</p>
						</td>
						<td></td>
					</tr>
					<tr>
						<td>
							<h5>Impact of peer evaluation<h5>
						</td>
						<td>
							<p>Up to -20</p>
						</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
