body {
	background-color: #eaefe6;
	font-family: 'Jura', sans-serif;
}
#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #0c7a18;
}
ul {
    list-style-type: none;
	overflow: hidden;
	margin: auto;
	padding: 0;
	background-color: #0c7a18;
	width: 80%;
}
h1 {
    background-image: url('/images/leaf.png');
	background-repeat: no-repeat;
	color: white;
	
}
li, h1 {
    float: left;
	margin: 0;
	margin-left: 30px;
}

h2 {
	margin: 0;
	margin-left: 30px;
	clear: both;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #53a359;
}
#title {
	color: white;
}
#search-bar #search-field {
	margin-left: 15px;
	margin-bottom: 30px;
	width: 85%;
	height: 35px;
	font-size: 20px;
	text-indent: 50px;
	border-radius: 6px;
	border: 0px solid;
    background-color: white;
    background-image: url('/images/search.png');
    background-position: 5px 3px; 
    background-repeat: no-repeat;
}

#search-bar #search-buttton {
	text-transform: uppercase;
	border: none;
	padding: 8px;
	margin: 0 0 0 1em;
}

#main-body {
	display: block;
	margin: auto;
	margin-top: 70px;
	width: 80%;
}
#top-left-box {
	float: left;
	width: 100%;
	height: 80px;
	background-color: white;
	border-radius: 6px;
	margin-bottom: 1em;
}
#bottom-body {
	width: 100%;
	display: block;
	margin: auto;
	border-radius: 6px;
}
.card {
	margin-bottom: 1em;
	margin-left: 1%;
	margin-right: 1%;
	width: 48%;
	height: 350px;
	border-radius: 6px;
	background-color: white;
	float: left;
}
.card img {
	display: block;
	margin: auto;
	margin-top: 5px;
	width: auto;
	max-height: 50%;
	height: auto;
}
.card h3, .card p {
	margin: 1em 0 0.5em 1em;
}
.card button {
	text-transform: uppercase;
	border: none;
	padding: 8px;
	margin: 0 0 0 1em;
}

button {
	text-transform: uppercase;
	border: none;
	padding: 8px;
	margin: 0 0 0 1em;
}

.pagination {
	margin: 10px;
	 text-align: center;
	 clear: both;
}

/* TABLE STYLING */
/*table {
	width: 100%;
	height: 100%;
}
th {
	background-color: #0c7a18;
	color: white;
	border-radius: 6px 6px 0 0;
}
td {
	padding-left: 10px;
	background-color: white;
}
#left-slideshow-button, #right-slideshow-button {
  cursor: pointer;
  top: 50%;
  padding: 8px;
  color: white;
  font-weight: bold;
  transition: 0.6s ease;
  border: none;
}
#left-slideshow-button:hover, #right-slideshow-button:hover {
  background-color: rgba(0,0,0,0.8);
}*/
#game-image-box {
	height: 300px;
	width: auto;
	border-radius: 6px;
}

#game-header-box {
	float: left;
	width: 50%;	
}

#game-image-box img {
	max-height: 300px;
}

#game-info-box {
	height: 300px;
	margin-top: 2em;
	border-radius: 6px;
	background-color: white;
}
#input-box {
	width: 100%;
}

fieldset p {
	margin: 10px;
}

@media only screen and (max-width: 875px) {
	#main-body {
		width: 90%;
	}
	.card {
		width: 49.6%;
	}
	@media only screen and (max-width: 600px) {
		.card {
			width: 100%;
		}
	}
}
