<head>
    <meta charset="UTF-8">
    <title>ISTE 438 MongoDB Project</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    <link rel="icon" href="/images/leaf.png" type="image/png">
    <style>
    </style>
</head>