<div id="header">
    <div id="nav-bar">
        <ul>
            <h1>MEAN</h1>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Categories</a>
                <div class="drop-list">
                    <a href="#">New</a>
                    <a href="#">Popular</a>
                    <a href="#">Top Rated</a>
                    <a href="#">More...</a>
                </div>
            </li>
            <li><a href="#">Resources</a></li>
        </ul>
    </div>