<div id="header">
    <div id="nav-bar">
        <ul>
            <h1>MEAN</h1>
            <li><a href="/">Home</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="about">About</a></li>
            <li><a href="#">Resources</a></li>
        </ul>
    </div>
</div>
