<div id="search-bar">
    <form action="/search">
    <input type="text" id="search-field" name="search" placeholder="Search..." />
    <button id="search-button" type="submit">Search</button>    
    </form>
</div>